* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { max-width: 1920px; line-height: 1.5; margin-left: auto; margin-right: auto;
min-height: 100vh; text-rendering: optimizeSpeed }
img { width: 100%; height: auto; display: block }
input, button, textarea, select { font: inherit }

/* Help prevent overflow of long words/names/URLs */
h1, h2, h3, h4, p, li { word-break: break-word; hyphens: auto }

/* HTML5 container elements full viewport width */
header, section, footer { width: 100% }
/* Last element at bottom of header or section */
header *:last-child, section *:last-child, footer *:last-child { margin-bottom: 0 }

body {
    font-family: Arial, sans-serif;
    background-color: #55423d;
}

footer {
    background-color: #55423d;
}

.image{
    width: 60px;
    height: 60px;
    align-self: center;
    padding: 10px;
}

.header div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.header h1{
    font-size: 50px;
    margin-left: 5px;
    color: #fffffe;
    align-self: center;
    width: 100%;
}

.warning h2 {
    color: white;
    text-align: center;
    margin-top: 50px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #271c19;
}

.header a{
    text-decoration: none;
    color: #271c19;
    background-color: #ffc0ad;
    /*margin: 10px 20px;*/
    margin-right: 2%;
    padding: 5px 15px;
    border-radius: 3px;
    align-self: center;
}

.hero-block{
    background-color: #55423d;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-block h1{
    color: #fffffe;
    font-size: calc(30px + (64 - 30) * ((100vw - 320px) / (1600 - 320)));
    margin-bottom: 60px;
}

.hero-block h2{
    color: #fff3ec;
    font-size: calc(30px + (30 - 20) * ((100vw - 320px) / (1600 - 320)));
    margin-bottom: 60px;
}

.hero-text-container {
    padding: 0 12% 4% 12%;
}

.hero-text-container a {
    color: black;
    background-color: #ffc0ad;
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    box-shadow: #00000044 5px 5px;
    transition: 0.1s;
}

.hero-text-container a:hover{
    background-color: #ffe0cd;
    box-shadow: #00000044 7px 7px;
    transition: 0.1s;
}

.hero-text-container a:active{
    background-color: #dfa08d;
    box-shadow: #00000099 2px 2px;
    transition: 0.1s;
}

.container-flexbox{
    border-color: #260B00;
    border-width: 20px;
    border-style: solid;
    background-color: #762B00;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*padding: 30px 30px;*/
    justify-content: space-around;
}

.menu {
    background-color: #271c19;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
    background-color: #ffc0ad;
    margin: 100px 0;
    padding: 20px;
    border-radius: 3px;
    height: 250px;
}

.menu h2 {
    text-align: center;
    font-size: 40px;
    color: #271c19;
}

.menu p {
    color: #271c19;
    text-align: start;
}

.tags {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tags a {
    text-decoration: none;
    background-color: #fffffe;
    padding: 5px 10px;
    border-radius: 3px;
    color: #271c19;
}

.empty{
    text-align: center;
}

.slide-in-top {
    animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-bottom {
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    margin: 10%;
}

@keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

 @keyframes slide-in-top {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
  }

 .text-center{
     text-align: center;
 }