<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'book/book.css' %}">
</head>
<body>
    <main>
        {% if book %}
        <section class="container-flexbox">
            <div class="book">
                <div class="title">
                    <h1>{{ book.title }}</h1>
                </div>
                <h2 class="info"><span>Author:</span> {{ book.author }}</h2>
                <h2 class="info"><span>Publication date:</span> {{ book.publication_date }}</h2>
                <h2 class="info"><span>Number of pages:</span> {{ book.num_pages }}</h2>
            </div>
            <div class="buttons">
                <a class="aButton" href="{% url 'book:index' %}">MENU</a>
                <a class="aButton" href="{% url 'book:edit' bookId %}">EDIT</a>
                <a class="aButton" href="{% url 'book:delete' bookId %}">DELETE</a>
            </div>
        </section>
        {% else %}
            <h1>There is no book here...</h1>
        {% endif %}
    </main>
{#    <h1>WELCOME TO THE BOOK MENU</h1>#}
{#    {% if book %}#}
{#        <p><span>Title:</span> {{ book.title }}</p>#}
{#        <p><span>Author:</span> {{ book.author }}</p>#}
{#        <p><span>Publication date:</span> {{ book.publication_date }}</p>#}
{#        <p><span>Number of pages:</span> {{ book.num_pages }}</p>#}
{#    {% else %}#}
{#        <p>There is nothing</p>#}
{#    {% endif %}#}
{#    <p><a href="{% url 'book:index' %}">Return to library</a></p>#}
</body>
</html>