<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create your book</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'book/create.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="hero-block">
        <form action="{% url 'book:edit' book.id %}" method="post">
            {% csrf_token %}
            <h1>EDIT YOUR BOOK</h1>
            <div class="inputs">
                <div class="champs">
                    <label>Title:</label>
                    <label>Author:</label>
                    <label>Description:</label>
                    <label>Gender:</label>
                    <label>Number of pages:</label>
                    <label>Price</label>
                </div>
                <div class="champs2">
                    <input name="title" type="text" value="{{ book.title }}">
                    <input name="author" type="text" value="{{ book.author }}">
                    <input name="description" type="text" value="{{ book.description }}">
                    <input name="gender" type="text" value="{{ book.gender }}">
                    <input name="num_pages" type="number" value="{{ book.num_pages }}">
                    <input name="price" type="number" step="0.01" value="{{ book.price }}">
                </div>
            </div>
            <input name="edit" class="submit-input" type="submit" value="Validate">
            <input name="cancel" class="submit-input" type="submit" value="Cancel">
        </form>
    </div>
</body>
</html>