<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test form</title>
</head>
<body>
    <form action="{% url 'book:formTest' %}", method="post">
        {% csrf_token %}
        <label for="test">Your name: </label>
        <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
        <input type="password" name="feur" value="">
        <input type="text" name="your_yes" value="">
        <input type="file" name="fichier">
        <input type="submit" value="OK">
    </form>
</body>
</html>